RegisterLicense/ActionGW/Service References/ProxyCrm/ProxyCrm7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://83.69.214.126:5559/ProxyCrm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTupleOfguidNullableOfdecimalGOBf0pnW">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfguidNullableOfdecimalGOBf0pnW" nillable="true" type="tns:TupleOfguidNullableOfdecimalGOBf0pnW" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfguidNullableOfdecimalGOBf0pnW" nillable="true" type="tns:ArrayOfTupleOfguidNullableOfdecimalGOBf0pnW" />
  <xs:complexType name="TupleOfguidNullableOfdecimalGOBf0pnW">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="decimal" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="ser:guid" />
      <xs:element name="m_Item2" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfguidNullableOfdecimalGOBf0pnW" nillable="true" type="tns:TupleOfguidNullableOfdecimalGOBf0pnW" />
</xs:schema>